<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>P치gina Inicial</title>
</head>
<body>
    <h1>Bem vindo a p치gina inicial</h1>

    <form action="/auth" method="POST">
        <input type="text" id="email" name="email" placeholder="Email do Usu치rio">
        <br>
        <input type="text" id="senha" name="senha" placeholder="Senha do Usu치rio">
        <br>
        <input type="submit" value="Enviar">
        <br>
    </form>
</body>
</html>