<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>

    <!-- O que falta fazer?
    Retornar uma mensagem de erro caso não encontre o usuário
    Colocar um botão que leve para a página de cadastro (signup.ejs)-->

    <h1>Bem vindo a página inicial</h1>

    <form action="/auth" method="POST">
        <input type="text" id="email" name="email" placeholder="Email do Usuário">
        <br>
        <input type="text" id="senha" name="senha" placeholder="Senha do Usuário">
        <br>
        <input type="submit" value="Enviar">
        <br>
    </form>
</body>
</html>